@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div style="text-align: center;">
        <h1>C.A.I.</h1>
        <h2>Customizable Artificial Intelligence</h2>
        <h4>Welcome to C.A.I.</h4>
        <h4>This is a web platform for building great customized AI bots for your needs.</h4>
    </div>
</div>

@{Html.RenderAction("CachedSampleBots");}

@section SideBar
{
    <p><a class="btn btn-default" href="http://www.iep.utm.edu/art-inte/">Learn more about AI &raquo;</a>
    </p>
}
